<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--target name="logfile" xsi:type="File" fileName="${basedir}/RBLogs/${date:format=yyyy-MM-dd}-api.log" /-->
    <target name="logfile" xsi:type="File"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
          fileName="${basedir}/RBLogs/RedBuilt.NetSuite.log"
          archiveFileName="${basedir}/Logs/RedBuilt.NetSuite.{#}.log"
          archiveNumbering="Date"
          archiveEvery="Day"
          archiveDateFormat="yyyyMMdd"
          maxArchiveFiles="14"
          concurrentWrites="true" />
  </targets>
  <rules>
    <logger name="RedBuilt.NetSuite" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>